@{
    ViewData["Title"] = "About";
}

<form method="POST">
    <input name="keyword" />
    <input name="url" />
    <input type="submit" value="Submit" />
</form>

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
